{% extends 'website/base.html' %}

{% block content %}
<div class="landingpage" style="background-color: red;">
          <h1>I BUILD STUFF_</h1>
          <a href="portfolio.html"><div id="landingpagebutton"><p id="landingpageseemore">Learn More</p></div></a>
      </div>
      
      <div class="contactbar">
      <a href="mailto: ian.ronk0@gmail.com"><img src="contact/emaillogo.png"/></a>
      <a href="https://www.linkedin.com/in/ian-ronk-7b054a120/"><img src="contact/linkedinlogo.png"/></a>
      <a href="https://github.com/werdert45"><img src="contact/githublogo.png"/></a>
      <a href="https://stackoverflow.com/users/9374829/ian-ronk"><img src="contact/stackoverflowlogo.png"/></a>
      <a href="https://www.instagram.com/ianronk/"><img src="contact/instagramlogo.png"/></a>
          
      </div>
      
      
      <div class="dimming"></div>
      <div class="personalstatement">
          <img src="profilepicturetemp.png" id="profilepicture"/>
          <div class="personalstatementtext">
          <h1>Personal Statement</h1>
          <br>
          <p>I am a software developer with experience in developing and delivering whole projects. Examples of such things are my project on chaos in the solar system, personal website and facial recognition software. <br><br>
              As a child I really liked working with computers and from my 12th I wasn’t able to get off the computer, I coded my first website when I was twelve years and increased my skills with Python, Django and Linux later on. Next to this passion for software, I love learning languages, which has resulted in fluent Dutch, English and intermediate Italian and German. <br><br>
              As of today I have worked in team operation on smaller projects, but I think that it is time to join a team and work on bigger projects to further my skills, but while still residing on school I am looking for a side job of 15-20 hours per week.
              </p>
      </div>
      
      <div class="portfoliocontainer">
          <div id="homeportfolio1">
              <img src="portfolio1.png" id="portfolioimg1"/>
              <div id="portfoliotext1">
              <h1>Solar System Simulation</h1>
              <p>During this project I created a simulation of the solar system in Python to show the effect of chaos on long term predictions in non-linear dynamic systems. This project learned me to incorporate Python functions and use both Pylab and Processing.py to create a graphical solution.</p>
                  <br>
              <div class="regularbutton" id="portfoliobutton1"><p>View Project</p></div>
              </div>
          </div>


          <div id="homeportfolio1">
              <img src="portfolio2.jpg" id="portfolioimg2"/>
              <div id="portfoliotext2">
                  <h1><b>Virtual Pet</b></h1>
              <p>The goal of this project was to learn HTML canvas and use JavaScript to incrrease its dynamics and interactiveness. The pet is a dog, which has to be fed twice a day and can be played with.</p>
                  <br>
              <div class="regularbutton" id="portfoliobutton2"><p>View Project</p></div>
              </div>
          </div>   
              
          <div id="homeportfolio1">
              <img src="portfolio3.jpg" id="portfolioimg3"/>
              <div id="portfoliotext3">
              <h2>Terminal customization</h2>
              <p>The purpose of this creation is to use both JavaScript and Bash code to customize the color and beginnin message of a Linux terminal session. This is done with LSCOLORS and has a variety of colors that can be used to create a nicer session and abeginning message can be displayed when opening the terminal itself.</p>
                  <br>
              <div class="regularbutton" id="portfoliobutton3"><p>View Project</p></div>
              </div>
          </div>
          
      </div>
      </div>
      
      <div class="footer" id="footerhome">
      <div class="contactbar1">
      <a href="mailto: ian.ronk0@gmail.com"><img src="contact/emaillogo.png"/></a>
      <a href="https://www.linkedin.com/in/ian-ronk-7b054a120/"><img src="contact/linkedinlogo.png"/></a>
      <a href="https://github.com/werdert45"><img src="contact/githublogo.png"/></a>
      <a href="https://stackoverflow.com/users/9374829/ian-ronk"><img src="contact/stackoverflowlogo.png"/></a>
      <a href="https://www.instagram.com/ianronk/"><img src="contact/instagramlogo.png"/></a>  
      </div>
        
      <div class="footerproject">
      <h2>Personal Projects</h2>
      <br>
      <a href="#virtualpet"><div class="footerbutton1"><p>Virtual Pet</p></div></a>
      
      <a href="#terminal"><div class="footerbutton2"><p>Terminal</p></div></a>
          </div>
      <div class="footertext">
      <h3>IAN RONK</h3>
      <br>
      <p>&copy; Copyright 2018-2019</p>
      <br>  
      <p>All rights reserved. Powered by !SERVERS!</p>
      </div>
      </div>

{% endblock %}


