{% extends 'website/base.html' %}

{% block content %}

     <div style="text-align: center;">
          
          <br><br><br><br>
      <div id="resumesheet">
          
          <div id="contactinfo">
          <div class="name">
              <h1>Ian Ronk</h1>
              </div>
          
              <div class="address">
                  <p>Address: Winkeldijk 19a 124,<br> Vinkeveen, The Netherlands</p>
              </div>
              
              <div class="contact">
              <p>Contact: ianronk0@gmail.com<br>+31 6 37 56 49 17<br>ianronk.com</p>
              </div>
              
          </div>
          
          <div id="personalstatement">
              <h2>Personal Statement_</h2>
          <p >I am a software developer with experience in developing and delivering whole projects. Examples of such things are my project on chaos in the solar system, personal website and facial recognition software. <br><br>

As a child I really liked working with computers and from my 12th I wasn’t able to get off the computer, I coded my first website when I was twelve years and increased my skills with Python, Django and Linux later on. Next to this passion for software, I love learning languages, which has resulted in fluent Dutch, English and intermediate Italian and German. <br><br>

As of today I have worked in team operation on smaller projects, but I think that it is time to join a team and work on bigger projects to further my skills, but while still residing on school I am looking for a side job of 15-20 hours per week.
</p>
              </div>

          <div id="education">
              <h2>Related Education and Courses</h2>
              <div class="educationitem" id="education1">
                  <h3>Formal Education</h3>
                  <p>2012 to 2019<br>Computer Science, Cygnus Gymnasium, Amsterdam, The Netherlands</p>
                  
                  <h3>Courses</h3>
                  <p>2017<br>Django, online course</p>
                  <p>2017 to 2018<br>Linux, Cygnus Gymnasium, Amsterdam, The Netherlands</p>
                  <p>2013<br>Ruby on Rails, Udemy Course</p>
              </div>
          </div>
          
          <div id="specialties">
              <h2>Specialties</h2>
              <p><b>Consistency</b><br>Working consistently to deliver a product on time.</p>
              <p><b>Teamwork</b><br>Developing in a team environment</p>
              <p><b>Semantic Coding</b><br>Readable code for everyone</p>
          
          </div>
          
          <div id="work">
              <h2>Work Experience</h2>
              <p>2013 to 2019<br>Web Desiging<br>Cygnus Gymnasium<br>Designed, built and mainained websites with HTML, CSS, JS, Django and Ruby on Rails</p>
          </div>
          
          <div id="techskills">
              <h2>Tech Skills</h2>
              <h3>Software</h3>
              <p>
                  HTML&#38;CSS<br>
                  Javacript<br>
                  Django<br>
                  Ruby on Rails<br>
                  Databasing<br>
                  Python<br>
                  Linux<br>
                  Vim/Vi<br>
                  Git<br>
                  PHP<br>
              </p>
          
          </div>
          <div id="techscore">
          <p>
              *********<br>
              *******<br>
              *******<br>
              *****<br>
              *******<br>
              ********<br>
              ******<br>
              ******<br>
              *******<br>
              ***<br>
              </p>
          </div>
          
          <div id="methods">
              <h3>Methods</h3>
              <p>
                  Heroku<br>
                  Git and version control<br>
                  UI design<br>
              </p>
          
          </div>
          
          <div id="langskills">
              <h2>Language Skills</h2>
              <div id="languageballs">
                  <div class="lang" id="lang1"><p><b>DUTCH</b><br>Mother<br>Tongue</p></div>
                  <div class="lang" id="lang2"><p><b>ENGLISH</b><br>Fluent<br>C2</p></div>
                  <div class="lang" id="lang3"><p><b>GERMAN</b><br>Advanced<br>B2</p></div>
                  <div class="lang" id="lang4"><p><b>ITALIAN</b><br>Inter<br>mediate</p></div>
              
              </div>
          
          </div>
          
          <div id="sampleprojects">
              <h2>Sample Projects</h2>
              <div id="sampleproject">
              
                  <img src="solar.png" id="sampleicon"/>
                  <h3 id="sampletitle">Simulation </h3>
                  <p id="sampletext">Using Python and Pylab to create a physical simulation to 
                      show the effect of chaos</p>
              </div>
              
              <div id="sampleproject">
              
                  <img src="pet.png" id="sampleicon"/>
                  <h3 id="sampletitle">Virtual Pet</h3>
                  <p id="sampletext">Using HTML Canvas and Javascript to create a pet to take care of</p>
              </div>
              
              <div id="sampleproject">
              
                  <img src="terminal.png" id="sampleicon"/>
                  <h3 id="sampletitle">Terminal_</h3>
                  <p id="sampletext">Using Javascript and bash to create commands to change the look of the Linux Terminal</p>
              </div>
              
          </div>
          
          <div id="hobbylist">
              <h2>Hobbies and Interests<br><br></h2>
          <div id="hobbies">
              <div class="hobby"><img src="mathematics.png" class="hobbyicon"/><p class="hobbytitle">Mathematics</p></div>
              <div class="hobby"><img src="fitness.png" class="hobbyicon"/><p class="hobbytitle">Fitness</p></div>
              <div class="hobby"><img src="surfing.png" class="hobbyicon"/><p class="hobbytitle">Surfing</p></div>
              <div class="hobby"><img src="swimming.png" class="hobbyicon"/><p class="hobbytitle">Swimming</p></div>
              <div class="hobby"><img src="traveling.png" class="hobbyicon"/><p class="hobbytitle">Travelling</p></div>
              <div class="hobby"><img src="music.png" class="hobbyicon"/><p class="hobbytitle">Music</p></div>
          </div>
          </div>
          
          <div id="resumefooter">
          <p>Ian Ronk<br>2018<br>ianronk.com</p>
          </div>
          
          </div>
          
          
          
          
      </div>
      
      <div class="footer" id="footerresume">
      <div class="contactbar1">
      <a href="mailto: ian.ronk0@gmail.com"><img src="contact/emaillogo.png"/></a>
      <a href="https://www.linkedin.com/in/ian-ronk-7b054a120/"><img src="contact/linkedinlogo.png"/></a>
      <a href="https://github.com/werdert45"><img src="contact/githublogo.png"/></a>
      <a href="https://stackoverflow.com/users/9374829/ian-ronk"><img src="contact/stackoverflowlogo.png"/></a>
      <a href="https://www.instagram.com/ianronk/"><img src="contact/instagramlogo.png"/></a>  
      </div>
        
      <div class="footerproject">
      <h2>Personal Projects</h2>
      <br>
      <a href="#virtualpet"><div class="footerbutton1"><p>Virtual Pet</p></div></a>
      
      <a href="#terminal"><div class="footerbutton2"><p>Terminal</p></div></a>
          </div>
      <div class="footertext">
      <h3>IAN RONK</h3>
      <br>
      <p>&copy; Copyright 2018-2019</p>
      <br>  
      <p>All rights reserved. Powered by !SERVERS!</p>
      </div>
      </div>

{% endblock%}
